<a href="https://colab.research.google.com/github/DaramG-star/coding-test/blob/main/SWEA_D1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1545. 거꾸로 출력해 보아요

주어진 숫자부터 0까지 순서대로 찍어보세요

아래는 입력된 숫자가 N일 때 거꾸로 출력하는 예시입니다

입력 : 8

출력 : 8 7 6 5 4 3 2 1 0

In [ ]:
N = int(input())

i = N+1
while True :
  i -= 1
  print(i)
  if i == 0:
    break

In [ ]:
# 숫자 N 입력받기
N = int(input())

# N부터 0까지 거꾸로 순회하여 출력
result = " ".join(map(str, range(N, -1, -1)))
print(result)

## 2019. 더블더블

1부터 주어진 횟수까지 2를 곱한 값(들)을 출력하시오.

주어질 숫자는 30을 넘지 않는다.

In [12]:
N = int(input())

result = [2 ** i for i in range(0, N+1)]
print(" ".join(map(str, result)))

3
1 2 4 8

## 1936. 1대1 가위바위보

A와 B가 가위바위보를 하였다.

가위는 1, 바위는 2, 보는 3으로 표현되며 A와 B가 무엇을 냈는지 입력으로 주어진다.

A와 B중에 누가 이겼는지 판별해보자. 단, 비기는 경우는 없다.



[입력]

입력으로 A와 B가 무엇을 냈는지 빈 칸을 사이로 주어진다.




[출력]

A가 이기면 A, B가 이기면 B를 출력한다.

In [15]:
#가위는 1, 바위는 2, 보는 3
A, B = list(map(int, input().split()))

if (A == 1 and B == 2) or (A == 2 and B == 3) or (A == 3 and B == 1):
  print('B')
else:
  print('A')

1 2
B

## 1933. 간단한 N 의 약수

입력으로 1개의 정수 N 이 주어진다.

정수 N 의 약수를 오름차순으로 출력하는 프로그램을 작성하라.


[제약사항]

N은 1이상 1,000이하의 정수이다. (1 ≤ N ≤ 1,000)


[입력]

입력으로 정수 N 이 주어진다.


[출력]

정수 N 의 모든 약수를 오름차순으로 출력한다.

In [17]:
N = int(input())
div = [i for i in range(1, N+1) if N % i == 0]

print(" ".join(map(str, div)))

10
1 2 5 10

## 1938. 아주 간단한 계산기

[제약 사항]

1. 두 개의 자연수 a, b는 1부터 9까지의 자연수이다. (1 ≤ a, b ≤ 9)

2. 사칙연산 + , - , * , / 순서로 연산한 결과를 출력한다.

3. 나누기 연산의 결과에서 소수점 이하의 숫자는 버린다.



[입력]

입력으로 두 개의 자연수 a, b가 빈 칸을 두고 주어진다.



[출력]

사칙연산의 결과를 각 줄에 순서대로 출력한다.

In [19]:
A, B = map(int,input().split())

print(A + B)
print(A - B)
print(A * B)
print(int(A / B))

8 3
11
5
24
2

## 2025. N줄덧셈

1부터 주어진 숫자만큼 모두 더한 값을 출력하시오.

단, 주어질 숫자는 10000을 넘지 않는다.


[예제]

주어진 숫자가 10 일 경우 출력해야 할 정답은,

1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 = 55

In [23]:
N = int(input())

print(sum(range(1, N+1)))  # 1부터 N까지 합계 출력

10
55

## 2027. 대각선 출력하기

주어진 텍스트를 그대로 출력하세요.

```
#++++
+#+++
++#++
+++#+
++++#
```

In [28]:
print('''#++++
+#+++
++#++
+++#+
++++#''')

#++++
+#+++
++#++
+++#+
++++#

## 2029. 몫과 나머지 출력하기

[제약 사항]

각 수는 1이상 10000이하의 정수이다.


[입력]

가장 첫 줄에는 테스트 케이스의 개수 T가 주어지고, 그 아래로 각 테스트 케이스가 주어진다.

각 테스트 케이스의 첫 번째 줄에는 2개의 수가 주어진다.


[출력]

출력의 각 줄은 '#t'로 시작하고 공백을 한 칸 둔 다음, 몫을 출력하고 공백을 한 칸 둔 다음 나머지를 출력한다.

(t는 테스트 케이스의 번호를 의미하며 1부터 시작한다.)

In [30]:
T = int(input())

for t in range(T):
  A, B = list(map(int, input().split()))
  print(f"#{t+1} {A // B} {A % B}")

3
9 2
#1 4 1
15 6
#2 2 3
369 15
#3 24 9

## 2043. 서랍의 비밀번호

서랍의 비밀번호가 생각이 나지 않는다.

비밀번호 P는 000부터 999까지 번호 중의 하나이다.

주어지는 번호 K부터 1씩 증가하며 비밀번호를 확인해 볼 생각이다.

예를 들어 비밀번호 P가 123 이고 주어지는 번호 K가 100 일 때, 100부터 123까지 24번 확인하여 비밀번호를 맞출 수 있다.

P와 K가 주어지면 K부터 시작하여 몇 번 만에 P를 맞출 수 있는지 알아보자.


[입력]

입력으로 P와 K가 빈 칸을 사이로 주어진다.


[출력]

몇 번 만에 비밀번호를 맞출 수 있는지 출력한다.

In [31]:
P, K = map(int, input().split())
print(P - K + 1)

123 100
24

## 2046. 스탬프 찍기

주어진 숫자만큼 # 을 출력해보세요.

주어질 숫자는 100,000 이하다.

In [32]:
N = int(input())

print("#" * N)

5
#####

### 2047. 신문 헤드라인


신문의 헤드라인을 편집하기 위해, 주어지는 문자열의 알파벳 소문자를 모두 대문자로 바꾸는 프로그램을 개발 중이다.

입력으로 주어진 문장에 모든 소문자 알파벳을 찾아 대문자로 변환한 다음, 그 결과를 출력하는 프로그램을 작성하라.


[예제 풀이]

The_headline_is_the_text_indicating_the_nature_of_the_article_below_it.

위와 같은 문자열이 입력으로 주어졌을 때, 출력은 다음과 같다.

THE_HEADLINE_IS_THE_TEXT_INDICATING_THE_NATURE_OF_THE_ARTICLE_BELOW_IT.


[제약 사항]

문자열의 최대 길이는 80 bytes 이다.


[입력]

입력으로 80 bytes 이하의 길이를 가진 문자열이 주어진다.


[출력]

문자열의 소문자를 모두 대문자로 변경한 결과를 출력한다.

In [34]:
head = input().strip()

print(head.upper())

daram
DARAM

### 2050. 알파벳을 숫자로 변환

알파벳으로 이루어진 문자열을 입력 받아 각 알파벳을 1부터 26까지의 숫자로 변환하여 출력하라.


[제약 사항]

문자열의 최대 길이는 200이다.


[입력]

알파벳으로 이루어진 문자열이 주어진다.


[출력]

각 알파벳을 숫자로 변환한 결과값을 빈 칸을 두고 출력한다.

In [40]:
N = (input().strip())

result = [ord(char) - ord('A') + 1 if char.isupper() else (ord(char) - ord('a') + 1) for char in N]

print(' '.join(map(str, result)))

abcs
1 2 3 19

## 2056. 연월일 달력

해당 날짜의 유효성을 판단한 후, 날짜가 유효하다면

[그림1] 과 같이 ”YYYY/MM/DD”형식으로 출력하고,

날짜가 유효하지 않을 경우, -1 을 출력하는 프로그램을 작성하라.


연월일로 구성된 입력에서 월은 1~12 사이 값을 가져야 하며

일은 [표1] 과 같이, 1일 ~ 각각의 달에 해당하는 날짜까지의 값을 가질 수 있다.



※ 2월의 경우, 28일인 경우만 고려한다. (윤년은 고려하지 않는다.)


[입력]

입력은 첫 줄에 총 테스트 케이스의 개수 T가 온다.

다음 줄부터 각 테스트 케이스가 주어진다.


[출력]

테스트 케이스 t에 대한 결과는 “#t”을 찍고, 한 칸 띄고, 정답을 출력한다.

(t는 테스트 케이스의 번호를 의미하며 1부터 시작한다.)

In [50]:
T = int(input())


for t in range(T):
  date = (input())
  y = int(date[0:4])
  m = int(date[4:6])
  d = int(date[6:])

  if m in [1, 3, 5, 7, 8, 10, 12] and d > 31 :
    print(-1)
  elif m in [4, 6, 9, 11] and d > 30 :
    print(-1)
  elif m == 2 and d > 28 :
    print(-1)
  elif m > 12 or m < 1 :
    print(-1)
  elif d < 1 :
    print(-1)
  else :
    print(f"#{t+1} {y:04}/{m:02}/{d:02}")

3
00000000
-1
20150500
-1
20150501
#3 2015/05/01

## 2058. 자릿수 더하기

하나의 자연수를 입력 받아 각 자릿수의 합을 계산하는 프로그램을 작성하라.


[제약 사항]

자연수 N은 1부터 9999까지의 자연수이다. (1 ≤ N ≤ 9999)


[입력]

입력으로 자연수 N이 주어진다.


[출력]

각 자릿수의 합을 출력한다.

In [54]:
T = map(int, (input()))

print(sum(T))

6789
30

## 2063. 중간값 찾기

중간값은 통계 집단의 수치를 크기 순으로 배열 했을 때 전체의 중앙에 위치하는 수치를 뜻한다.

입력으로 N 개의 점수가 주어졌을 때, 중간값을 출력하라.


[예제]

N이 9 이고, 9개의 점수가 아래와 같이 주어질 경우,

85 72 38 80 69 65 68 96 22

69이 중간값이 된다.


[제약 사항]

1. N은 항상 홀수로 주어진다.

2. N은 9이상 199 이하의 정수이다. (9 ≤ N ≤ 199)


[입력]

입력은 첫 줄에 N 이 주어진다.

둘째 줄에 N 개의 점수가 주어진다.


[출력]

N 개의 점수들 중, 중간값에 해당하는 점수를 정답으로 출력한다.

In [59]:
N = int(input())
score = list(map(int, input().split()))
score = sorted(score)
print(score[N // 2])

199
85 72 38 80 69 65 68 96 22 49 67 51 61 63 87 66 24 80 83 71 60 64 52 90 60 49 31 23 99 94 11 25 24 51 15 13 39 67 97 19 76 12 33 99 18 92 35 74 0 95 71 39 33 39 32 37 45 57 71 95 5 71 24 86 8 51 54 74 24 75 70 33 63 29 99 59 94 52 13 35 99 46 57 71 23 17 3 94 48 77 18 83 11 83 25 59 62 2 78 86 7 94 65 80 32 39 84 60 65 72 61 58 84 8 72 12 19 47 49 49 59 71 52 34 22 21 20 92 33 80 39 74 9 28 97 100 93 29 25 4 66 79 81 98 21 91 62 82 4 59 100 34 1 51 80 92 69 77 39 38 97 51 34 35 19 22 1 67 9 90 31 82 11 51 84 78 70 74 42 100 88 53 80 57 62 32 51 48 63 92 46 4 61 31 98 69 52 88 20
58

## 2068. 최대수 구하기

10개의 수를 입력 받아, 그 중에서 가장 큰 수를 출력하는 프로그램을 작성하라.


[제약 사항]

각 수는 0 이상 10000 이하의 정수이다.


[입력]

가장 첫 줄에는 테스트 케이스의 개수 T가 주어지고, 그 아래로 각 테스트 케이스가 주어진다.

각 테스트 케이스의 첫 번째 줄에는 10개의 수가 주어진다.


[출력]

출력의 각 줄은 '#t'로 시작하고, 공백을 한 칸 둔 다음 정답을 출력한다.

(t는 테스트 케이스의 번호를 의미하며 1부터 시작한다.)

In [60]:
T = int(input())


for t in range (T) :
  number = list(map(int, input().split()))
  number = max(number)
  print(f"#{t+1} {number}")

3
3 17 1 39 8 41 32 99 2
#1 99
22 8 5 123 7 2 63 7 3 46
#2 123
6 63 2 3 58 76 21 33 8 1
#3 76

## 2070. 큰 놈, 작은 놈, 같은 놈

2개의 수를 입력 받아 크기를 비교하여 등호 또는 부등호를 출력하는 프로그램을 작성하라.


[제약 사항]

각 수는 0 이상 10000 이하의 정수이다.


[입력]

가장 첫 줄에는 테스트 케이스의 개수 T가 주어지고, 그 아래로 각 테스트 케이스가 주어진다.

각 테스트 케이스의 첫 번째 줄에는 2개의 수가 주어진다.


[출력]

출력의 각 줄은 '#t'로 시작하고, 공백을 한 칸 둔 다음 정답을 출력한다.

(t는 테스트 케이스의 번호를 의미하며 1부터 시작한다.)

In [62]:
T = int(input())

for t in range(T):
  A, B = map(int, input().split())

  if A > B :
    print(f"#{t+1} >")
  elif A < B :
    print(f"#{t+1} <")
  else :
    print(f"#{t+1} =")

3
3 8
#1 <
7 7
#2 =
369 123
#3 >

## 2071. 평균값 구하기

10개의 수를 입력 받아, 평균값을 출력하는 프로그램을 작성하라.

(소수점 첫째 자리에서 반올림한 정수를 출력한다.)


[제약 사항]

각 수는 0 이상 10000 이하의 정수이다.


[입력]

가장 첫 줄에는 테스트 케이스의 개수 T가 주어지고, 그 아래로 각 테스트 케이스가 주어진다.

각 테스트 케이스의 첫 번째 줄에는 10개의 수가 주어진다.


[출력]

출력의 각 줄은 '#t'로 시작하고, 공백을 한 칸 둔 다음 정답을 출력한다.

(t는 테스트 케이스의 번호를 의미하며 1부터 시작한다.)

In [65]:
T = int(input())

for t in range(T):
  number = map(int, input().split())
  평균 = sum(number) / 10
  print(f"#{t+1} {round(평균)}")

3
22 8 5 123 7 2 63 7 3 46
#1 29
3 17 1 39 8 41 2 32 99 2
#2 24
6 63 2 3 58 76 21 33 8 1
#3 27

## 2072. 홀수만 더하기

10개의 수를 입력 받아, 그 중에서 홀수만 더한 값을 출력하는 프로그램을 작성하라.


[제약 사항]

각 수는 0 이상 10000 이하의 정수이다.


[입력]

가장 첫 줄에는 테스트 케이스의 개수 T가 주어지고, 그 아래로 각 테스트 케이스가 주어진다.

각 테스트 케이스의 첫 번째 줄에는 10개의 수가 주어진다.


[출력]

출력의 각 줄은 '#t'로 시작하고, 공백을 한 칸 둔 다음 정답을 출력한다.

(t는 테스트 케이스의 번호를 의미하며 1부터 시작한다.)

In [ ]:
T = int(input())

for t in range(T):
  number = map(int, input().split())
  for num in number if num % 2 == 1:
    print(sum)