<a href="https://colab.research.google.com/github/DaramG-star/coding-test/blob/main/%EB%B0%B1%EC%A4%80_%EB%8B%A8%EA%B3%844_%5B1%EC%B0%A8%EC%9B%90_%EB%B0%B0%EC%97%B4%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. 개수 세기

문제 :
총 N개의 정수가 주어졌을 때, 정수 v가 몇 개인지 구하는 프로그램을 작성하시오.

입력 :
첫째 줄에 정수의 개수 N(1 ≤ N ≤ 100)이 주어진다. 둘째 줄에는 정수가 공백으로 구분되어져있다. 셋째 줄에는 찾으려고 하는 정수 v가 주어진다. 입력으로 주어지는 정수와 v는 -100보다 크거나 같으며, 100보다 작거나 같다.

출력 :
첫째 줄에 입력으로 주어진 N개의 정수 중에 v가 몇 개인지 출력한다.

### 슈도코드 짜보기

1. 정수의 개수 받기
2. 공백으로 구분 된 정수 리스트 받기
3. Count 함수 이용하여 세기
4. 몇개인지 출력

In [6]:
from collections import Counter
# 정수의 개수 받기
N = int(input())
# 숫자 리스트 받기
numint = list(map(int, input().split()))
# 어떤걸 셀지 받기
C = int(input())
count = Counter(numint)
print(count[C])

11
1 4 1 2 4 2 4 2 3 4 4
2
3

In [ ]:
# 간단하게 작성
N = int(input())

numbers = list(map(int, input().split()))

v = int(input())

print(numbers.count(v))

## 2. X보다 작은 수

문제 :
정수 N개로 이루어진 수열 A와 정수 X가 주어진다. 이때, A에서 X보다 작은 수를 모두 출력하는 프로그램을 작성하시오.

입력 :
첫째 줄에 N과 X가 주어진다. (1 ≤ N, X ≤ 10,000)

둘째 줄에 수열 A를 이루는 정수 N개가 주어진다. 주어지는 정수는 모두 1보다 크거나 같고, 10,000보다 작거나 같은 정수이다.

출력 :
X보다 작은 수를 입력받은 순서대로 공백으로 구분해 출력한다. X보다 작은 수는 적어도 하나 존재한다.

### 슈도코드 짜보기

1. 정수 N을 입력받기
2. 수열 A를 리스트로 받기
3. 정수 X를 입력받기
4. 리스트 컴프리헨션 이용하여 A에서 X보다 작은 수 공백으로 구분해 출력하기

In [10]:
N, X = map(int, input().split())

A = list(map(int, input().split()))

for num in A:
    if num < X:
        print(num, end = " ")

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

## 3. 최소, 최대

문제 :
N개의 정수가 주어진다. 이때, 최솟값과 최댓값을 구하는 프로그램을 작성하시오.

입력 :
첫째 줄에 정수의 개수 N (1 ≤ N ≤ 1,000,000)이 주어진다. 둘째 줄에는 N개의 정수를 공백으로 구분해서 주어진다. 모든 정수는 -1,000,000보다 크거나 같고, 1,000,000보다 작거나 같은 정수이다.

출력 :
첫째 줄에 주어진 정수 N개의 최솟값과 최댓값을 공백으로 구분해 출력한다.

### 슈도코드 짜보기

1. 정수의 개수 받기
2. 정수의 최솟값과 최댓값을 공백으로 구분해 출력하기

In [12]:
N = int(input())
numlist = list(map(int, input().split()))

ma = max(numlist)
mi = min(numlist)

print(f"{mi} {ma}")

5
20 10 35 30 7
7 35

## 4. 최댓값

문제 :
9개의 서로 다른 자연수가 주어질 때, 이들 중 최댓값을 찾고 그 최댓값이 몇 번째 수인지를 구하는 프로그램을 작성하시오.

예를 들어, 서로 다른 9개의 자연수

3, 29, 38, 12, 57, 74, 40, 85, 61

이 주어지면, 이들 중 최댓값은 85이고, 이 값은 8번째 수이다.

입력 :
첫째 줄부터 아홉 번째 줄까지 한 줄에 하나의 자연수가 주어진다. 주어지는 자연수는 100 보다 작다.

출력 :
첫째 줄에 최댓값을 출력하고, 둘째 줄에 최댓값이 몇 번째 수인지를 출력한다.

### 슈도코드 짜보기

1. 9개의 자연수 for문으로 입력받기
2. 입력받은 후, 최댓값 출력하기
3. 함수 이용하여 몇번째 수인지 출력하기

In [14]:
# 입력받기
numbers  = [int(input()) for _ in range(9)]
#최댓값 찾기
max_numbers = max(numbers)
#인덱스 위치 찾기
max_index = numbers.index(max_numbers) + 1

print(max_numbers)
print(max_index)

3
29
38
32
12
57
74
40
85
85
9

In [16]:
numbers = [int(input()) for t in range(9)]
M = max(numbers)
M_index = numbers.index(M) + 1

print(M)
print(M_index)

3
29
38
12
57
74
40
85
61
85
8

## 5. 공 넣기

문제 :
도현이는 바구니를 총 N개 가지고 있고, 각각의 바구니에는 1번부터 N번까지 번호가 매겨져 있다. 또, 1번부터 N번까지 번호가 적혀있는 공을 매우 많이 가지고 있다. 가장 처음 바구니에는 공이 들어있지 않으며, 바구니에는 공을 1개만 넣을 수 있다.

도현이는 앞으로 M번 공을 넣으려고 한다. 도현이는 한 번 공을 넣을 때, 공을 넣을 바구니 범위를 정하고, 정한 바구니에 모두 같은 번호가 적혀있는 공을 넣는다. 만약, 바구니에 공이 이미 있는 경우에는 들어있는 공을 빼고, 새로 공을 넣는다. 공을 넣을 바구니는 연속되어 있어야 한다.

공을 어떻게 넣을지가 주어졌을 때, M번 공을 넣은 이후에 각 바구니에 어떤 공이 들어 있는지 구하는 프로그램을 작성하시오.

입력 :
첫째 줄에 N (1 ≤ N ≤ 100)과 M (1 ≤ M ≤ 100)이 주어진다.

둘째 줄부터 M개의 줄에 걸쳐서 공을 넣는 방법이 주어진다. 각 방법은 세 정수 i j k로 이루어져 있으며, i번 바구니부터 j번 바구니까지에 k번 번호가 적혀져 있는 공을 넣는다는 뜻이다. 예를 들어, 2 5 6은 2번 바구니부터 5번 바구니까지에 6번 공을 넣는다는 뜻이다. (1 ≤ i ≤ j ≤ N, 1 ≤ k ≤ N)

도현이는 입력으로 주어진 순서대로 공을 넣는다.

출력 :
1번 바구니부터 N번 바구니에 들어있는 공의 번호를 공백으로 구분해 출력한다. 공이 들어있지 않은 바구니는 0을 출력한다.

### 슈도코드 짜보기

1. N과 M 입력받기
2. 바구니 상태 초기화해서 두기
3. M번의 공을 넣는 작업 처리
4. K번 공을 넣는 것이므로 index에 K 입력하기
5. *넣어서 공백 포함 출력

In [17]:
# 첫 번째 줄에 N과 M 입력
N, M = map(int, input().split())

# 바구니 상태 초기화(모든 바구니에 공이 없으므로 0으로 초기화)
baskets = [0] * N

# M번의 공을 넣는 작업 처리
for _ in range(M):
  #각 작업에서 1번부터 j번까지 k번 공을 넣는다
  i, j, k = map(int, input().split())

  for idx in range(i-1, j):
    baskets[idx] = k

print(*baskets)

5 4
1 2 3
3 4 4
1 4 1
2 2 2
1 2 1 1 0

## 6. 공 바꾸기

문제 :
도현이는 바구니를 총 N개 가지고 있고, 각각의 바구니에는 1번부터 N번까지 번호가 매겨져 있다. 바구니에는 공이 1개씩 들어있고, 처음에는 바구니에 적혀있는 번호와 같은 번호가 적힌 공이 들어있다.

도현이는 앞으로 M번 공을 바꾸려고 한다. 도현이는 공을 바꿀 바구니 2개를 선택하고, 두 바구니에 들어있는 공을 서로 교환한다.

공을 어떻게 바꿀지가 주어졌을 때, M번 공을 바꾼 이후에 각 바구니에 어떤 공이 들어있는지 구하는 프로그램을 작성하시오.

입력 :
첫째 줄에 N (1 ≤ N ≤ 100)과 M (1 ≤ M ≤ 100)이 주어진다.

둘째 줄부터 M개의 줄에 걸쳐서 공을 교환할 방법이 주어진다. 각 방법은 두 정수 i j로 이루어져 있으며, i번 바구니와 j번 바구니에 들어있는 공을 교환한다는 뜻이다. (1 ≤ i ≤ j ≤ N)

도현이는 입력으로 주어진 순서대로 공을 교환한다.

출력 :
1번 바구니부터 N번 바구니에 들어있는 공의 번호를 공백으로 구분해 출력한다.

## 7. 과제 안 내신 분..?

문제 :
X대학 M교수님은 프로그래밍 수업을 맡고 있다. 교실엔 학생이 30명이 있는데, 학생 명부엔 각 학생별로 1번부터 30번까지 출석번호가 붙어 있다.

교수님이 내준 특별과제를 28명이 제출했는데, 그 중에서 제출 안 한 학생 2명의 출석번호를 구하는 프로그램을 작성하시오.

입력 :
입력은 총 28줄로 각 제출자(학생)의 출석번호 n(1 ≤ n ≤ 30)가 한 줄에 하나씩 주어진다. 출석번호에 중복은 없다.

출력 :
출력은 2줄이다. 1번째 줄엔 제출하지 않은 학생의 출석번호 중 가장 작은 것을 출력하고, 2번째 줄에선 그 다음 출석번호를 출력한다.

### 슈도코드 짜보기

1. 1부터 30까지 들어있는 집합 만들기
2. 28개의 수 입력받기
3. missing 변수 만들어서 차집합 구하고 정렬
4. 작은 수부터 출력하기

In [ ]:
students = set(range(1, 31))
submitted = set(int(input()) for _ in range(28))

missing = sorted(students - submitted)
print(missing[0])
print(missing[1])

## 8. 나머지

문제 :
두 자연수 A와 B가 있을 때, A%B는 A를 B로 나눈 나머지 이다. 예를 들어, 7, 14, 27, 38을 3으로 나눈 나머지는 1, 2, 0, 2이다.

수 10개를 입력받은 뒤, 이를 42로 나눈 나머지를 구한다. 그 다음 서로 다른 값이 몇 개 있는지 출력하는 프로그램을 작성하시오.

입력 :
첫째 줄부터 열번째 줄 까지 숫자가 한 줄에 하나씩 주어진다. 이 숫자는 1,000보다 작거나 같고, 음이 아닌 정수이다.

출력 :
첫째 줄에, 42로 나누었을 때, 서로 다른 나머지가 몇 개 있는지 출력한다.

### 슈도코드 짜보기

1. 집합 초기화하여 설정하기
2. 첫번째 줄부터 열째 줄까지 숫자 입력받기
3. 42로 나누고 집합에 추가하기

In [29]:
remainders = set()

for _ in range(10):
  N = int(input())
  DN = N % 42
  remainders.add(DN)

print(len(remainders))

42
84
252
420
840
126
42
84
420
126
1

## 9. 바구니 뒤집기

문제 :
도현이는 바구니를 총 N개 가지고 있고, 각각의 바구니에는 1번부터 N번까지 번호가 순서대로 적혀져 있다. 바구니는 일렬로 놓여져 있고, 가장 왼쪽 바구니를 1번째 바구니, 그 다음 바구니를 2번째 바구니, ..., 가장 오른쪽 바구니를 N번째 바구니라고 부른다.

도현이는 앞으로 M번 바구니의 순서를 역순으로 만들려고 한다. 도현이는 한 번 순서를 역순으로 바꿀 때, 순서를 역순으로 만들 범위를 정하고, 그 범위에 들어있는 바구니의 순서를 역순으로 만든다.

바구니의 순서를 어떻게 바꿀지 주어졌을 때, M번 바구니의 순서를 역순으로 만든 다음, 바구니에 적혀있는 번호를 가장 왼쪽 바구니부터 출력하는 프로그램을 작성하시오.

입력 :
첫째 줄에 N (1 ≤ N ≤ 100)과 M (1 ≤ M ≤ 100)이 주어진다.

둘째 줄부터 M개의 줄에는 바구니의 순서를 역순으로 만드는 방법이 주어진다. 방법은 i j로 나타내고, 왼쪽으로부터 i번째 바구니부터 j번째 바구니의 순서를 역순으로 만든다는 뜻이다. (1 ≤ i ≤ j ≤ N)

도현이는 입력으로 주어진 순서대로 바구니의 순서를 바꾼다.

출력 :
모든 순서를 바꾼 다음에, 가장 왼쪽에 있는 바구니부터 바구니에 적혀있는 순서를 공백으로 구분해 출력한다.

## 10. 평균

문제 :
세준이는 기말고사를 망쳤다. 세준이는 점수를 조작해서 집에 가져가기로 했다. 일단 세준이는 자기 점수 중에 최댓값을 골랐다. 이 값을 M이라고 한다. 그리고 나서 모든 점수를 점수/M*100으로 고쳤다.

예를 들어, 세준이의 최고점이 70이고, 수학점수가 50이었으면 수학점수는 50/70*100이 되어 71.43점이 된다.

세준이의 성적을 위의 방법대로 새로 계산했을 때, 새로운 평균을 구하는 프로그램을 작성하시오.

입력 :
첫째 줄에 시험 본 과목의 개수 N이 주어진다. 이 값은 1000보다 작거나 같다. 둘째 줄에 세준이의 현재 성적이 주어진다. 이 값은 100보다 작거나 같은 음이 아닌 정수이고, 적어도 하나의 값은 0보다 크다.

출력 :
첫째 줄에 새로운 평균을 출력한다. 실제 정답과 출력값의 절대오차 또는 상대오차가 10-2 이하이면 정답이다.

### 슈도코드 작성하기