<a href="https://colab.research.google.com/github/DaramG-star/coding-test/blob/main/%EB%B0%B1%EC%A4%80_%EB%8B%A8%EA%B3%841_%5B%EC%9E%85%EC%B6%9C%EB%A0%A5%EA%B3%BC_%EC%82%AC%EC%B9%99%EC%97%B0%EC%82%B0%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Hello World

 Hello World!를 출력하시오.

### 슈도코드 짜보기

1.  Hello World를 출력하기

In [1]:
# 파이썬

print("Hello World!")

Hello World!

## 2. 사칙연산

두 자연수 A와 B가 주어진다. 이때, A+B, A-B, A*B, A/B(몫), A%B(나머지)를 출력하는 프로그램을 작성하시오.

첫째 줄에 A+B, 둘째 줄에 A-B, 셋째 줄에 A*B, 넷째 줄에 A/B, 다섯째 줄에 A%B를 출력한다.

### 슈도코드 짜보기

1. A와 B를 map으로 input받기
2. A+B, A-B, A*B, A/B, A%B를 출력하기

In [4]:
# 파이썬

A, B = list(map(int, input().split()))

print(A + B)
print(A - B)
print(A * B)
print(A // B)
print(A % B)

7 3
10
4
21
2
1

# 3. ??!

준하는 사이트에 회원가입을 하다가 joonas라는 아이디가 이미 존재하는 것을 보고 놀랐다. 준하는 놀람을 ??!로 표현한다. 준하가 가입하려고 하는 사이트에 이미 존재하는 아이디가 주어졌을 때, 놀람을 표현하는 프로그램을 작성하시오.

첫째 줄에 준하의 놀람을 출력한다. 놀람은 아이디 뒤에 ??!를 붙여서 나타낸다.

 ### 슈도코드 짜보기

1. 아이디 str로 input받기

2. 아이디 뒤에 ??! 붙여서 출력하기

In [5]:
# 파이썬

user_id = input().strip() #쓸데없는 공백 제거

print(f"{user_id}??!")

joonas
joonas??!

## 4. 1998년생인 내가 태국에서는 2541년생?!

문제 : ICPC Bangkok Regional에 참가하기 위해 수완나품 국제공항에 막 도착한 팀 레드시프트 일행은 눈을 믿을 수 없었다. 공항의 대형 스크린에 올해가 2562년이라고 적혀 있던 것이었다.

불교 국가인 태국은 불멸기원(佛滅紀元), 즉 석가모니가 열반한 해를 기준으로 연도를 세는 불기를 사용한다. 반면, 우리나라는 서기 연도를 사용하고 있다. 불기 연도가 주어질 때 이를 서기 연도로 바꿔 주는 프로그램을 작성하시오.

입력 : 서기 연도를 알아보고 싶은 불기 연도 y가 주어진다. (1000 ≤ y ≤ 3000)
출력 : 불기 연도를 서기 연도로 변환한 결과를 출력한다.

### 슈도코드 짜보기

1. 2541에서 1998 빼보고 얼마나 차이나는지 알아보기

2. 출력 시 해당 연도에서 차이값을 뺀 숫자 출력하기

In [7]:
#print(2541-1998) #543

Y = int(input())
print(f"{Y - 543}")

2541
1998

## 5. 나머지

문제 : (A+B)%C는 ((A%C) + (B%C))%C 와 같을까?

(A×B)%C는 ((A%C) × (B%C))%C 와 같을까?

세 수 A, B, C가 주어졌을 때, 위의 네 가지 값을 구하는 프로그램을 작성하시오.

입력 : 첫째 줄에 A, B, C가 순서대로 주어진다. (2 ≤ A, B, C ≤ 10000)

출력 : 첫째 줄에 (A+B)%C, 둘째 줄에 ((A%C) + (B%C))%C, 셋째 줄에 (A×B)%C, 넷째 줄에 ((A%C) × (B%C))%C를 출력한다.

### 슈도코드 짜보기

1. A, B, C 값 list로 map input 받기
2. 문제에서 요구한 식 출력하기

In [9]:
A, B, C = list(map(int, input().split()))
print((A+B)%C)
print(((A%C) + (B%C))%C)
print((A*B)%C)
print( ((A%C) * (B%C))%C)

5 8 4
1
1
0
0

## 6. 곱셈

문제 : (세 자리 수) × (세 자리 수)는 다음과 같은 과정을 통하여 이루어진다.![스크린샷 2025-01-19 200332.png]()

입력 : 첫째 줄에 (1)의 위치에 들어갈 세 자리 자연수가, 둘째 줄에 (2)의 위치에 들어갈 세자리 자연수가 주어진다.

출력 : 첫째 줄부터 넷째 줄까지 차례대로 (3), (4), (5), (6)에 들어갈 값을 출력한다.

### 슈도코드 짜보기

1. A, B값 list, map으로 input받기

2. B값 10으로 나눈 후 나머지와 A값 곱하기

3. B값 10으로 나눈 후 몫 구하고, 10으로 또 나눠서 나머지 반환

4. B값 100으로 나눈 후 몫 반환

5. 3, 4, 5, 6값 출력하기

In [11]:
A = int(input())
B = int(input())

digit1 = B % 10
digit2 = (B // 10) % 10
digit3 = B // 100

print(A * digit1)
print(A * digit2)
print(A * digit3)
print(A * B)

472
385
2360
3776
1416
181720

## 7. 꼬마 정민

문제 :
꼬마 정민이는 이제 A + B 정도는 쉽게 계산할 수 있다. 이제 A + B + C를 계산할 차례이다!

입력 :
첫 번째 줄에 A, B, C (1 ≤ A, B, C ≤ 1012)이 공백을 사이에 두고 주어진다.

출력 :
A+B+C의 값을 출력한다

### 슈도코드 짜보기

1. A, B, C list로 입력받기

2. A + B + C 값 출력하기

In [12]:
A, B, C = list(map(int, input().split()))

print(A + B + C)

77 77 7777
7931

## 8. 고양이

아래 예제와 같이 고양이를 출력하시오.

\    /\

 )  ( ')

(  /  )

 \(__)|


 이거 고양이 아니고 그냥 이상한 생명체인듯;;

In [14]:
print("\\    /\\")
print(" )  ( ')")
print("(  /  )")
print(" \\(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

## 9. 개

문제 :
아래 예제와 같이 개를 출력하시오.

입력 :
없음.

출력 :
개를 출력한다.

In [16]:
print("|\\_/|")
print("|q p|   /}")
print("( 0 )\"\"\"\\")
print("|\"^\"`    |")
print("||_/=\\\\__|")

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|