<a href="https://colab.research.google.com/github/DaramG-star/coding-test/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EB%B3%B8_%EB%AC%B8%EB%B2%95_%EC%A0%95%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 자료형

a = 1000 #양의 정수
print(a)

a = -7 #음의 정수
print(a)

#0
a = 0
print(a)

1000
-7
0

In [ ]:
# 실수형

a = 157.93 #양의 실수
print(a)

a = -1837.2 #음의 실수
print(a)

# 소수부가 0일 때 0을 생략
a = 5.
print(a)

# 정수부가 0일 때 0을 생략
a = -.7
print(a)

157.93
-1837.2
5.0
-0.7

In [ ]:
# 10억의 지수 표현 방식
a = 1e9
print(a)

#752.5
a = 75.25e1
print(a)

#3.954
a = 3954e-3
print(a)

1000000000.0
752.5
3.954

In [ ]:
a = 0.3 + 0.6
print(a)

if a == 0.9:
    print(True)
else:
    print(False)

0.8999999999999999
False

In [ ]:
a = 0.3 + 0.6
print(round(a, 4))

if round(a, 4) == 0.9:
    print(True)
else :
    print(False)

0.9
True

In [ ]:
a = 7
b = 3

print(a / b)

print(a % b)

print(a // b)

2.3333333333333335
1
2

In [ ]:
a = 5
b = 3

(a ** b)

125

# 리스트
## 리스트는 대괄호 안에 원소를 넣어 초기화하며, 쉼표로 원소를 구분한다.
## 리스트의 원소에 접근할 때는 인덱스 값을 괄호 안에 넣는다. 이 때 인덱스는 0부터 시작한다.
## 비어있는 리스트를 선언하고자 할 때는 list() 혹은 간단히 대괄호([])를 이용할 수 있다.

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(a)

print(a[4])

a = list()
print(a)

a = []
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
5
[]
[]

In [ ]:
# 크기가 N이고, 모든 값이 0인 1차원 리스트 초기화
n = 10
a = [0] * n
print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

# 리스트의 인덱싱과 슬라이싱
## 인덱스값을 입력하여 리스트의 특정한 원소에 접근하는 것을 인덱싱이라고 한다.
## 파이썬의 인덱스값은 양의 정수와 음의 정수를 모두 사용할 수 있으며, 음의 정수를 넣으면 원소를 거꾸로 탐색하게 된다.

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]

print(a[-1])

print(a[-3])

a[3] = 7
print(a)

9
7
[1, 2, 3, 7, 5, 6, 7, 8, 9]

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]

print(a[1:4])

[2, 3, 4]

# 리스트 컴프리헨션
## 리스트를 초기화하는 방법 중 하나로, 대괄호 안에 조건문과 반복문을 넣는 방식으로 리스트를 초기화 할 수 있다.

In [ ]:
# 0부터 19까지의 수에서 홀수만 포함하는 리스트
array = [i for i in range(20) if i % 2 == 1]

print(array)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
# 1부터 9까지 수의 제곱 값을 포함하는 리스트
array = [i * i for i in range(1, 10)]

print(array)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# N * M 크기의 2차원 리스트 초기화
n = 3
m = 4
array = ([0] * m for _ in range(n))
print(array)

<generator object <genexpr> at 0x7b11e33546c0>

In [ ]:
for _ in range(5):
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

In [ ]:
summary = 0
for i in range(1, 10):
    summary += i
print(summary)

45

# 리스트 관련 기타 메서드
## 변수.append() : 리스트에 원소를 하나 삽입할 때 사용한다.
## 변수.sort() : 기본 정렬 기능으로 오름차순으로 정렬한다
## 변수.sort(reverse = True) : 내림차순으로 정렬한다.
## 변수.reverse() : 리스트의 원소의 순서를 모두 뒤집어 놓는다
## 변수.insert(삽입할 위치 인덱스, 삽입할 값) : 특성 인덱스 위치에 원소를 삽입할 때 사용한다
## 변수.count(특정값) : 리스트에서 특정한 값을 가지는 데이터의 개수를 셀 때 사용한다
## 변수.remove(특정값) : 특정한 값을 갖는 원소를 제거하는데, 값을 가진 원소가 여러 개면 하나만 제거한다

In [ ]:
a = [1, 4, 3]
print("기본 리스트: ", a)

#리스트에 원소 삽입
a.append(2)
print("삽입: ", a)

#오름차순 정렬
a.sort()
print("오름차순 정렬: ", a)

#내림차순 정렬
a.sort(reverse=True)
print("내림차순 정렬: ", a)

#리스트 원소 뒤집기
a.reverse()
print("원소 뒤집기: ", a)

#특정 인덱스에 데이터 추가
a.insert(2, 3)
print("인덱스 2에 3 추가: ", a)

#특정 값인 데이터 개수 세기
print("값이 3인 데이터 개수: ", a.count(3))

#특정 값 데이터 삭제
a.remove(1)
print("값이 1인 데이터 삭제: ", a)

기본 리스트:  [1, 4, 3]
삽입:  [1, 4, 3, 2]
오름차순 정렬:  [1, 2, 3, 4]
내림차순 정렬:  [4, 3, 2, 1]
원소 뒤집기:  [1, 2, 3, 4]
인덱스 2에 3 추가:  [1, 2, 3, 3, 4]
값이 3인 데이터 개수:  2
값이 1인 데이터 삭제:  [2, 3, 3, 4]

In [ ]:
a = [1, 2, 3, 4, 5, 5, 5]
remove_set = [3, 5]

result = [i for i in a if i not in remove_set]
print(result)

[1, 2, 4]

# 문자열
## 문자열 초기화
### 문자열 변수를 초기화할 때는 큰 따옴표나 작은 따옴표를 이용한다.

## 문자열 연산
### 파이썬은 문자열 변수에 덧셈, 곱셈, 슬라이싱도 가능하다.

In [ ]:
data = "Hello World"
print(data)

data = "Don't you know \"Python\"?"
print(data)

Hello World
Don't you know "Python"?

In [ ]:
a = "Hello"
b = "World"

print(a + " " + b)

Hello World

In [ ]:
a = "String"

print(a * 3)

StringStringString

In [ ]:
a = "ABCDEF"

print(a[2:4])

CD

# 튜플 자료형

- 리스트와의 차이
    - 튜플은 한 번 선언된 값을 변경할 수 없다.
    - 리스트는 대괄호를 이용하지만, 튜플은 소괄호를 이용한다.

In [ ]:
a = (1, 2, 3, 4)
print(a)

a[2] = 7

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

# 사전 자료형

## 사전 자료형은 키와 값의 쌍을 데이터로 가지는 자료형이다.
## 사전 자료형은 키 - 값 쌍을 데이터로 가진다는 점에서, 우리가 원하는 변경 불가능한 데이터를 키로 사용할 수 있다.

In [ ]:
data = dict()
data['사과'] = 'Apple'
data['바나나'] = 'Banana'
data['코코넛'] = 'Coconut'

print(data)

{'사과': 'Apple', '바나나': 'Banana', '코코넛': 'Coconut'}

In [ ]:
data = dict()
data['사과'] = 'Apple'
data['바나나'] = 'Banana'
data['코코넛'] = 'Coconut'

if '사과' in data:ㅠ
    print("'사과'를 키로 가지는 데이터가 존재합니다.")

'사과'를 키로 가지는 데이터가 존재합니다.

In [ ]:
data = dict()
data['사과'] = 'Apple'
data['바나나'] = 'Banana'
data['코코넛'] = 'Coconut'

#키 데이터만 담은 리스트
key_list = data.keys()
#값 데이터만 담은 리스트
value_list = data.values()
print(key_list)
print(value_list)

#각 키에 따른 값을 하나씩 출력
for key in key_list:
    print(data[key])

dict_keys(['사과', '바나나', '코코넛'])
dict_values(['Apple', 'Banana', 'Coconut'])
Apple
Banana
Coconut

# 집합
- 중복을 허용하지 않는다
- 순서가 없다

In [ ]:
data = set([1, 1, 2, 3, 4, 4, 5])
print(data)

data = {1, 1, 2, 3, 4, 4, 5}
print(data)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [ ]:
a = set([1, 2, 3, 4, 5])
b = set([3, 4, 5, 6, 7])

print(a | b) # 합집합
print(a & b) # 교집합
print(a - b) # 차집합

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}

In [ ]:
data = set([1, 2, 3])
print(data)

# 새로운 원소 추가
data.add(4)
print(data)

# 새로운 원소 여러 개 추가
data.update([5, 6])
print(data)

# 특정한 값을 갖는 원소 삭제
data.remove(3)
print(data)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}

# 조건문
## if ~ elif ~ else문 이용

In [ ]:
x = 15

if x >= 10:
    print(x)

15

In [ ]:
score = 85

if score >= 90:
    print("학점 A")
elif score >= 80:
    print("학점 B")
elif score >= 70:
    print("학점 C")
else :
    print("학점 D")

학점 B

In [ ]:
score = 95

if score >= 70:
    print('성적이 70점 이상입니다.')
    if score >= 90:
        print("우수한 성적입니다.")
else:
    print('성적이 70점 미만입니다.')
    print('조금 더 분발하세요.')

print('프로그램을 종료합니다.')

성적이 70점 이상입니다.
우수한 성적입니다.
프로그램을 종료합니다.

## X in 리스트 : 리스트 안에 X가 들어가 있을 때 참이다,
## X not in 문자열 : 문자열 안에 X가 들어가 있지 않을 때 참이다.

In [ ]:
score = 85

if score >= 80:
    pass
else :
    print('성적이 80점 미만입니다.')

print('프로그램을 종료합니다.')

프로그램을 종료합니다.

In [ ]:
score = 85

if score >= 80: result = "Success"
else: result = "Fail"

print(result)

Success

In [ ]:
score = 85

result = "Success" if score >= 80 else "Fail"

print(result)

Success

In [ ]:
a = [1, 2, 3, 4, 5, 5, 5]
remove_set = {3, 5}

result = []
for i in a:
    if i not in remove_set:
        result.append(i)

print(result)

[1, 2, 4]

In [ ]:
a = [1, 2, 3, 4, 5, 5, 5]
remove_set = {3, 5}

result = [i for i in a if i not in remove_set]

print(result)

[1, 2, 4]

In [ ]:
x = 15
if x > 0 and x < 20:
    print("X는 0 초과 20 미만의 수입니다.")

X는 0 초과 20 미만의 수입니다.

In [ ]:
X = 15
if 0 < x< 20:
    print("X는 0 초과 20 미만의 수입니다.")

X는 0 초과 20 미만의 수입니다.

# 반복문
## While문
- 조건문이 참일 때 한해서, 반복적으로 코드가 수행된다.

## for문

In [ ]:
i = 1
result = 0

while i <= 9:
    result += i
    i += 1

print(result)

45

In [ ]:
i = 1
result = 0

while i <= 9:
    if i % 2 == 1:
        result += i
    i += 1

print(result)

25

In [ ]:
result = 0

for i in range(1, 10):
    result += i

print(result)

45

In [ ]:
scores = [90, 85, 77, 65, 97]

for i in range(5):
    if scores[i] >= 80:
        print(i + 1, "번 학생은 합격입니다.")

1 번 학생은 합격입니다.
2 번 학생은 합격입니다.
5 번 학생은 합격입니다.

In [ ]:
scores = [90, 85, 77, 65, 97]
cheating_list = [2, 4]

for i in range(5):
    if i + 1 in cheating_list:
        continue
    if scores[i] >= 80:
        print(i + 1, "번 학생은 합격입니다.")

1 번 학생은 합격입니다.
5 번 학생은 합격입니다.

In [ ]:
for i in range(2, 10):
    for j in range(1, 10):
        print(i, "X", j, "=", i * j)
    print()

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

# 함수

## 문제를 푸는 코드를 함수화해서 효율적으로 풀기
## 함수에서 어떠한 값을 반환하고자 할 때는 return문을 이용

In [ ]:
def add(a, b):
    return a + b

print(add(3, 7))

10

In [ ]:
def add(a, b):
    print('함수의 결과: ', a+b)

add(3, 7)

함수의 결과:  10

In [ ]:
def add(a, b):
    print('함수의 결과:', a + b)

add(b = 3, a = 7)

함수의 결과: 10

In [ ]:
a = 10

def func():
    global a
    a += 1

for i in range(10):
    func()

print(a)

20

In [ ]:
def add(a, b):
    return a + b

print(add(3, 7))

# 람다 표현식으로 구현한 add 메서드
print((lambda a, b: a+b)(3, 7))

10
10

# 입출력

## 데이터를 입력받을 때는 input() 이용.
## 입력받은 문자열을 띄어쓰기로 구분하여 각각 정수 자료형의 데이터로 저장하는 코드는 list(map(int, input().split()))이용

##가장 먼저 입력받은 문자열을 split을 이용해 공백으로 나눈 리스트로 바꾼 뒤에, map을 이용하여 해당 리스트의 모든 원소에 int 함수를 적용

## 최종적으로 그 결과를 다시 list로 바꿈으로써 입력받은 문자열을 띄어쓰기로 구분하여 각각 숫자 자료형으로 저장

In [ ]:
n = int(input())

data = list(map(int, input().split()))

data.sort(reverse = True)
print(data)

5
65 90 75 34 99
[99, 90, 75, 65, 34]

In [ ]:
#공백으로 구분된 데이터의 개수가 많지 않다면, 단순히 map(int, input().split())이용도 가

n, m, k = map(int, input().split())

print(n, m, k)

3 5 7
3 5 7

In [ ]:
# 입력이 많을 때는 sys 라이브러리 사용

import sys
sys.stdin.readline().rstrip()

In [ ]:
import sys

data = sys.stdin.readline().rstrip()
print(data)

In [ ]:
a = 1
b = 2

print(a, b)

1 2

In [ ]:
answer = 7
print("정답은 " + str(answer) + "입니다.")

정답은 7입니다.

In [ ]:
answer = 7

print("정답은", answer, "입니다.")

정답은 7 입니다.

In [ ]:
answer = 7

print(f"정답은 {answer}입니다.")

정답은 7입니다.

# 내장함수

In [ ]:
result = sum([1, 2, 3, 4, 5])

print(result)

15

In [ ]:
result = min(7, 3, 5, 2)
print(result)

2

In [ ]:
result = max(7, 3, 5, 2)
print(result)

7

In [ ]:
# eval 함수는 수학 수식이 문자열 형식으로 들어오면 해당 수식을 계산한 결과를 반환한다.
result = eval("(3+5) * 7")

print(result)

56

In [ ]:
# sorted 함수는 iterable 객체가 들어왔을 때, 정렬된 결과를 반환한다.
result = sorted([9, 1, 8, 5, 4])
print(result)
result = sorted ([9, 1, 8, 5, 4], reverse = True)
print(result)

[1, 4, 5, 8, 9]
[9, 8, 5, 4, 1]

In [ ]:
result = sorted([('홍길동', 35), ('이순신', 75), ('아무개', 50)], key = lambda x: x[1], reverse = True)
print(result)

[('이순신', 75), ('아무개', 50), ('홍길동', 35)]

# itertools

## permutations : 리스트와 같은 iterable 객체에서 r개의 데이터를 뽑아 일렬로 나열하는 모든 경우를 계산

## combinations : 리스트와 같은 iterable 객체에서 r개의 데이터를 뽑아 순서를 고려하지 않고 나열하는 모든 경우를 계산

In [ ]:
from itertools import permutations

data = ['A', 'B', 'C']

result = list(permutations(data, 3))

print(result)

[('A', 'B', 'C'), ('A', 'C', 'B'), ('B', 'A', 'C'), ('B', 'C', 'A'), ('C', 'A', 'B'), ('C', 'B', 'A')]

In [ ]:
from itertools import combinations

data = ['A', 'B', 'C']

result = list(combinations(data, 2))

print(result)

[('A', 'B'), ('A', 'C'), ('B', 'C')]

In [ ]:
# 중복을 허용한 P
from itertools import product

data = ['A', 'B', 'C']
result = list(product(data, repeat = 2))

print(result)

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'A'), ('B', 'B'), ('B', 'C'), ('C', 'A'), ('C', 'B'), ('C', 'C')]

In [ ]:
# 중복을 허용한 C
from itertools import combinations_with_replacement

data = ['A', 'B', 'C']
result = list(combinations_with_replacement(data, 2))
print(result)

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'B'), ('B', 'C'), ('C', 'C')]

# heapq

In [ ]:
import heapq

def heapsort(iterable):
    h = []
    result = []
    # 모든 원소를 차례대로 힙에 삽입
    for value in iterable:
        heapq.heappush(h, value)
        # 힙에 삽입된 모든 원소를 차례대로 꺼내어 담기
    for _ in range(len(h)):
        result.append(heapq.heappop(h))
    return result

result = heapsort([1, 3, 5, 7, 9, 2, 4, 6, 8, 0])
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# bisect

## 이진 탐색을 쉽게 구현할 수 있도록 하는 라이브러리
## 정렬된 배열에서 특정한 원소를 찾아야 할 때 매우 효과적으로 사용됨

- bisect_left(a, x): 정렬된 순서를 유지하면서 리스트 a에 데이터x를 삽입할 가장 왼쪽 인덱스를 찾는 메서드
- bisect_right(a, x): 정렬된 순서를 유지하도록 리스트a에 데이터x를 삽입할 가장 오른쪽 인덱스를 찾는 메서드

In [ ]:
from bisect import bisect_left, bisect_right

a = [1, 2, 4, 4, 8]
x = 4

print(bisect_left(a, x))

# deque

## 인덱싱, 슬라이싱 등의 기능은 사용 불가능하지만, 연속적으로 나열된 데이터의 시작 부분이나 끝부분에 데이터를 삽입하거나 삭제할 때 매우 효과적으로 사용 가능

# Counter

##리스트와 같은 iterable 객체가 주어졌을 때, 해당 객체 내부의 원소가 몇 번씩 등장했는지를 알려줌

In [2]:
from collections import Counter

counter = Counter(['red', 'blue', 'green', 'blue', 'blue', 'red', 'green'])

print(counter['blue'])
print(counter['green'])
print(dict(counter))

3
2
{'red': 2, 'blue': 3, 'green': 2}

#math
## 수학 라이브러리 사용가능

In [3]:
import math

print(math.factorial(5))

120

In [4]:
import math

print(math.sqrt(7))

2.6457513110645907

In [5]:
import math

print(math.gcd(21, 14)) #최대 공약수 출력

7

In [6]:
import math

print(math.pi)
print(math.e)

3.141592653589793
2.718281828459045